@import "bootstrap/dist/css/bootstrap.min.css";
@import "./assets/css/style.css";
body {
  margin: 0;
  font-family: -apple-system, "Nunito Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #394141;
}
